/* Gloabl Styles */	
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body::-webkit-scrollbar {
  width: 0;
  display: none;
}

*::selection{
  background-color: #196bc8;
  color: #fff;
}

/* Font Styles */
.monst{
  font-family: 'Montserrat', sans-serif;
}

@keyframes slide-in {
  from { width: 0; }
  to   { width: 100%; }
}
.animate-slide-in {
  animation: slide-in 0.3s ease-out forwards;
}
